html {
    font-family: sans-serif;
    text-align: center;
}

.d3-wrapper {
    display: block;
    margin: 0 auto;
    height: 500px;
    margin-top: 150px;
    clip-path: circle(50% at 50% 50%);
}

circle {
    cursor: pointer;
}

.manny {
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    margin: 0 auto;
}

section {
    min-height: 700px;
}